{{!--
<section class="article-comments gh-canvas">
    If you want to embed comments, this is a good place to paste your code!
</section>
--}}

{{!-- Example of Isso integration
<section id="isso-thread" class="article-comments gh-canvas"></section>
<script data-isso="//comments.example.tld/" src="//comments.example.tld/js/embed.min.js"></script>
--}}
